.Selectors_13 {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (min-height: 843px) {
    height: 150px;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  @media (min-height: 925px) {
    height: 170px;
    justify-content: space-around;
    margin-bottom: 10px;
  }
}

.Yearly_13 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 63px 5px 24px;
  margin: 3px 0;
  height: 56px;
  border-radius: 32px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, .3);
}

.Yearly_13::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5.436563491821289px);
  z-index: -1;
}

.YearlyAccessText_priceYearlyText_13 {
  display: flex;
  flex-direction: column;
}

.YearlyAccessText_13 {
  height: 19px;
  color: #FFF;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.PriceYearlyText_13 {
  display: flex;
  align-items: flex-end;
  height: 19px;
  color: #FFF;
  opacity: 0.7;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.PriceWeeklyText_13 {
  height: 38px;
  color: #FFF;
  opacity: 0.7;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.BestOffer_13 {
  position: absolute;
  display: flex;
  justify-content: center;
  min-width: 119px;
  height: 20px;
  top: -10px;
  right: 24px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.50);
}

.Inscription_BestOffer_13 {
  position: relative;
  height: 15px;
  top: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(20, 17, 49, 1);
}

.Weekly_13 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 63px 8px 24px;
  margin: 4px 0;
  height: 56px;
  border-radius: 32px;
  background: rgba(255, 255, 255, .1);
}

.Weekly_13::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5.436563491821289px);
  z-index: -1;
}

.WeeklyAccessText_13 {
  color: #FFF;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.Continue_13 {
  width: 100%;
  margin: 8px 0 0 0;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: rgba(255, 255, 255, 1);
}

.Continue_Button_13 {
  text-decoration: none;
}

.Inscription_Continue_13 {
  width: 87px;
  height: 24px;
  top: 16px;
  left: 120px;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 20px;
  font-weight: 590;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  color: rgba(7, 11, 51, 1);
}