.footer_8 {
  display: flex;
  justify-content: space-between;
  height: 15px;
  margin: 25px 57px 11px 57px;
}

.Footer_elements_8 p {
  color: rgba(255, 255, 255, 0.50);
  text-align: center;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 12.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.577px;
}

.Footer_elements_8 a {
  text-decoration: none;
}
