<footer class="footer_13">
    <div class="Items_13">
        <div class="Footer_elements_13" >
            <a href="https://www.apple.com">
                <p id="termsOfUseText"></p>
            </a>
        </div>
        <div class="Footer_elements_13" >
            <a href="https://www.apple.com">
                <p id="privacyPolicyText"></p>
            </a>
        </div>
        <div class="Footer_elements_13" >
            <a href="https://www.apple.com">
                <p id="Restore"></p>
            </a>
        </div>
    </div>
    <div class="Indicator_Block_13">
        <div class="Home_Indicator_13">
        </div>
    </div>

</footer>