<header class="header_13">
    <div class="Status_bar_13">
        <div class="Time_13">
            9:41
        </div>
        <div class = "Battery Status_bar_elements_13">
            <img src="../images/accomodate/icons/Mobile%20Signal.svg" alt="">
            <img src="../images/accomodate/icons/Wifi.svg" alt="">
            <img src="../images/accomodate/icons/Battery.svg" alt="">
        </div>
    </div>
    <div class="Cross_13">
        <a href="">
            <img src="../images/icons/Cross.svg" alt="">
        </a>
    </div>
</header>