<header class="header_8">
    <div class="Status_bar_8">
        <div class="Connection Status_bar_elements_8">
            <img src="../images/icons/Mobile%20Signal.svg" alt="">
            <img src="../images/icons/Carrier.svg" alt="">
            <img src="../images/icons/Wifi.svg" alt="">
        </div>
        <div class="Time Status_bar_elements_8">
            <img src="../images/icons/Time.svg" alt="">
        </div>
        <div class = "Battery Status_bar_elements_8">
            <img src="../images/icons/Bluetooth.svg" alt="">
            <img src="../images/icons/100%25.svg" alt="">
            <img src="../images/icons/Battery.svg" alt="">
        </div>
    </div>
    <div class="Cross_8">
        <a href="">
            <img src="../images/icons/Cross.svg" alt="">
        </a>
    </div>

</header>